/*This file contains custom CSS styles over-riding the default Bootstrap styles*/

/*Author: DA PARRY 16700090 */

.carousel-caption{
	font-family: "Devangari", "Times New Roman", Times, serif;
	color: #000000;
	text-shadow:0 0px 0px rgba(0,0,0,.0);
}